@model IEnumerable<TestWebWPF_v1.Models.BoTruyen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="formThemManga" class="btn btn-primary" >Thêm truyện</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã truyện
            </th>
            <th>
                Tên truyện
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Ảnh truyện
            </th>
            <th>
                Tên khác
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Họa sĩ
            </th>
            <th>
               Loại truyện
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MangaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaDetails)
            </td>
            <td>
                    <img src="@item.MangaImage" class="img-thumbnail w-50 h-50" alt="Ảnh" onerror="this.src='/image/error.gif'" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaAlternateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangaGenre)
            </td>
            <td>
                    <a href="@Url.Action("formcreateChapter","Manga",new { Id=item.MangaId})" class="btn btn-primary">Thêm Chương</a>|
                    <a href="@Url.Action("listChapter","Manga",new { Id=item.MangaId})" class="btn btn-primary">Danh sách chương</a>|
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
@section Manga{
    <script>
        // Kiểm tra xem trang có query string "success" không
        var urlParams = new URLSearchParams(window.location.search);
        var successParam = urlParams.get('success');

        // Nếu có query string "success" và giá trị là "true", hiển thị thông báo
        if (successParam === 'true') {
            alert("Thành công");
        }
    </script>
}